.person-card {
    border: 1px solid;
    background: black;
    margin: 5px;
    border-radius: 5px;
}

.person-card h2 {
    margin-left: 5px;
    color: #D3C381;

}

.person-card h3 {
    margin-left: 10px;
    color: #D3C381;
}

